<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="db_todoes"
         connectionString="Data Source=desktop-9jt10el;Initial Catalog=db_todoes;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>